
  
  .form__layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9fbff;
    width: 400px;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 24px;
    padding: 30px;
    gap: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .textfield__layout {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 70%;
  }
  


/* .imageUpload {
    display: flex;
    flex-direction: column;
    width:60%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid lightgray;
    gap:10px;
}

.imageUpload__progress {
    width: 100%;
}

@media screen and (min-width:1300px) {
    .imageUpload {
        width: 800px;
    }
} */